<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="jewelery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jewelery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="jewelery-link">
                <a href="{% url 'products' %}?category=rings,ringbands" class="dropdown-item">Rings &amp; Ringbands</a>
                <a href="{% url 'products' %}?category=bracelets" class="dropdown-item">Bracelets</a>
                <a href="{% url 'products' %}?category=neckleces" class="dropdown-item">Neckleces</a>
                <a href="{% url 'products' %}?category=rings,ringbands,bracelets,neckleces" class="dropdown-item">All Jewelery</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="wallart-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wall-Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wallart-link">
                <a href="{% url 'products' %}?category=framed" class="dropdown-item">Framed</a>
                <a href="{% url 'products' %}?category=large_format" class="dropdown-item">Large format</a>
                <a href="{% url 'products' %}?category=framed,large_format" class="dropdown-item">All Wall-Art</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=bundles" class="dropdown-item">Bundles</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,bundles,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>